
.bash_history
.bash_logout
.bash_profile
.bashrc
/.config/.venv
/.cache/discord-screenaudio
/.cache
/.config/autostart
/.config/Code - OSS
/.config/Code
/.config/discord
/.config/GitHub Desktop
/.config/go
/.config/stremio-enhanced
/.config/pulse
/.config/spotify
/.config/vesktop
/.local
/.npm
/.vscode
/.mozilla
/.dotnet
/.stremio-server
/Downloads
yay/
xdg-desktop-portal-hyprland/
vscode-1.93.1.tar.gz
vscode-1.92.2.tar.gz
sudo
spotify.desktop
nohup.out
dotfile/
.zcompdump-archlinux-5.9.zwc
.zcompdump-archlinux-5.9
.zcompdump
.wget-hsts
.vscode-oss/extensions/extensions.json
.vscode-oss/argv.json
.viminfo
.vim/.netrwhist
.shell.pre-oh-my-zsh
.pki/nssdb/pkcs11.txt
.pki/nssdb/key4.db
.pki/nssdb/cert9.db
.gk/repoMapping.json
.gnupg/common.conf
.gnupg/crls.d/DIR.txt
.gnupg/public-keys.d/pubring.db
.gnupg/trustdb.gpg
.gtkrc-2.0
.histfile
.gitconfig
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
/.config/Thunar
/.config/systemd
/.config/simple-update-notifier
.config/pavucontrol.ini
/.config/menus
/.config/lvim
/.config/lemonblocks
/.config/discord-screenaudio
/.config/dconf
