
/.cache/discord-screenaudio
/.cache
/.config/autostart
/.config/Code - OSS
/.config/Code - OSS
/.config/Code
.zshrc.pre-oh-my-zsh
dotfile/
nohup.out
spotify.desktop
sudo
vscode-1.92.2.tar.gz
vscode-1.93.1.tar.gz
xdg-desktop-portal-hyprland/
yay/
.zsh_history
.zcompdump-archlinux-5.9.zwc
.zcompdump-archlinux-5.9
.zcompdump
.wget-hsts
.vscode-oss/extensions/extensions.json
.vscode-oss/argv.json
.viminfo
.vim/.netrwhist
.shell.pre-oh-my-zsh
.pki/nssdb/pkcs11.txt
.pki/nssdb/key4.db
.pki/nssdb/cert9.db
.histfile
.gtkrc-2.0
.gnupg/trustdb.gpg
.gnupg/public-keys.d/pubring.db
.gnupg/crls.d/DIR.txt
.gnupg/common.conf
.gk/repoMapping.json
.config/systemd/user/pipewire.service.wants/wireplumber.service
.config/systemd/user/pipewire-session-manager.service
.config/systemd/user/firefox.service
.config/systemd/user/discord.service
.config/systemd/user/default.target.wants/spotify.service
.config/systemd/user/default.target.wants/firefox.service
.config/systemd/user/default.target.wants/discord.service
.config/sway/config/config.in
.config/st/
.config/simple-update-notifier/electron-builder.json
.config/pavucontrol.ini
.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
.config/lvim/lazy-lock.json
.config/lvim/config.lua
.config/lemonblocks/config.txt
.config/lemonbarpy/
.config/hypr/hyprland.conf
.config/fish/fish_variables
.config/fish/config.fish
.config/dwm/
.config/discord-screenaudio/discord-screenaudio.conf
